.layout {
  display: flex;
  height: 100vh;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
  padding: 1rem;
  background-color: #f3f4f6;
  overflow: auto;
}